.cart-icon {
    // width: 45px;
    // height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 40px;
      height: 40px;
      fill: rgb(42, 29, 29);
    }
  
    .item-count {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
     
    }
  }
  